input.todo-list--item-done(data-js-todo-done type='checkbox')
.todo-list--item-title(data-js-todo-title)
button.todo-list--item-delete(data-js-todo-delete) &#9747;
button.todo-list--item-view(data-js-todo-view) &#8594;

