input.todo-list--item-done(data-js-todo-done type='checkbox')
.todo-list--item-title(data-js-todo-title)
button.todo-list--item-delete(data-js-todo-delete) x
button.todo-list--item-edit(data-js-todo-edit) &#9998;

