//- .filter-todo-widget
input.filter-todo-widget--title(data-js-todo-title placeholder='Фильтр по названию')
br
div Показывать:
select.filter-todo-widget--done(data-js-todo-done)
  option(selected value='all') все
  option(value='true') выполненные
  option(value='false') не выполненные

