//- .filter-todo-widget
input.todo-title(data-js-todo-title placeholder='Фильтр по названию')
br
div Показывать:
select.todo-done(data-js-todo-done)
  option(selected value='all') все
  option(value='true') выполненные
  option(value='false') не выполненные

