extends layouts/base

block styles
  // build:css main.css
  link(rel='stylesheet' href='styles/main.css')
  // endbuild

block content
  .header-block
    h3.text-muted Менеджер задач
  .content-block
  .footer-block

block scripts
  // templates
  script#todoItem(type='text/template')
    include scripts/view/list/TodoItemView/TodoItemView
  script#IndexPage(type='text/template')
    include scripts/view/page/IndexPage/IndexPage
