extends layouts/base

block styles
  // build:css main.css
  link(rel='stylesheet' href='styles/main.css')
  // endbuild

block content
  .header-block
    h3.text-muted Менеджер задач
  .content-block
  .footer-block

block scripts
  // templates
  include scripts/view/list/main
  include scripts/view/page/main
  include scripts/view/widget/main
