.todo-item(data-js-todo-id)
  input.todo-item--done(data-js-todo-done type='checkbox')
  .todo-item--title(data-js-todo-title)
  input.todo-item--edit-title.hidden(data-js-todo-edit-title type='text')
  button.todo-item--delete(data-js-todo-delete) x
  button.todo-item--edit(data-js-todo-edit) &#9998;

